*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

body {
    margin: 0;
    background-color: black;
    color: white;
}

.Gridspace {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(9, auto);
}

.Buttonspace {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.Message {
    text-align: center;
}

.row {
    align-content: center;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: black;;
    border: 1px solid rgb(188, 165, 165);
    justify-content: center;
    align-items: center;
    text-align: center; 
    color: white;
}

.cell:nth-child(n+19):nth-child(-n+27) {
    border-bottom: 1px solid red;
}

.cell:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 1px solid red;
}

.cell:nth-child(n+72) {
    border-bottom: 1px solid red;
}

.cell:nth-child(n+28):nth-child(-n+36) {
    border-top: 1px solid red;
}
.cell:nth-child(n+55):nth-child(-n+63) {
    border-top: 1px solid red;
}
.cell:nth-child(-n+9) {
    border-top: 1px solid red;
}

.cell:nth-child(3n) {
    border-right: 1px solid red;
}
.cell:nth-child(3n+1) {
    border-left: 1px solid red;
}


.clicked {
    background-color: blue;
}

.solved {
    background-color: green;
}

.button {
    font-weight: bold;
    margin: 0 5px;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    animation-name: darken;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes darken {
    100% {
        opacity: 50%;
    }
}

.reset {
    background-color: grey;
}

.solve {
    background-color: blue;
}

.random {
    background-color: red;
}